<%= form_for @twitter do |f| %>
    <%= @twitter.content %>


    <div class="actions">
      <%= f.submit '投稿する' %>
    </div>
    <%= f.hidden_field :content %>

    <div class="actions">
    <%= link_to 'Back', twitters_path %>    </div>
  <% end %>