<!DOCTYPE html>
<html>
  <head>
    <title>Inu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
    </header>

    <main>
      <%= yield %>
    </main>
    
    <footer>
      <p>
        present by <a href="http://webch.org/" target="_blank">Layout Gallery</a>.Copyright © Your Site Name. All rights reserved.
      </p>
    </footer>

  </body>
</html>
